@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --black: oklch(0.145 0 0); /* Very dark gray (#252525) */
  --white: oklch(0.985 0 0); /* Almost white (#FAFAFA) */
}

@layer base {
  html {
    @apply scrollbar-thin relative overflow-y-scroll;
  }

  body {
    @apply bg-[var(--black)] text-[var(--black)] font-tektur ;
  }

  svg {
    /* @apply block h-full w-full; */
  }
}

@layer components {
  .wrapper {
    @apply flex min-h-screen flex-col overflow-hidden supports-[overflow:clip]:overflow-clip;
  }
  .wrapper > main {
    @apply grow;
  }
  .wrapper > * {
    @apply min-w-0;
  }

  .ibg {
    @apply relative;
  }
  .ibg img {
    @apply absolute inset-0 h-full w-full object-cover;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 80rem;
}

@utility font-tektur {
  font-family: "Tektur", sans-serif;
}